name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '*'

jobs:
  build:
    name: MacOS
    runs-on: macos-13
    steps:
    - uses: actions/checkout@v4
    - name: Select Xcode 15.2
      run: sudo xcode-select -s /Applications/Xcode_15.2.app
    - name: Run tests
      run: make test-swift

  ubuntu:
    strategy:
      matrix:
        swift:
          - '5.9'
    name: Ubuntu (Swift ${{ matrix.swift }})
    runs-on: ubuntu-latest
    container: swift:${{ matrix.swift }}
    steps:
    - uses: actions/checkout@v4
    - name: Run tests
      run: swift test --parallel
    - name: Run tests (release)
      run: swift test -c release --parallel

  windows:
    name: Windows (Swift ${{ matrix.swfit }}, ${{ matrix.config }})
    strategy:
      matrix:
        os: [windows-latest]
        config: ['debug', 'release']
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
      - uses: compnerd/gha-setup-swift@main
        with:
          branch: swift-5.9.1-release
          tag: 5.9.1-RELEASE
      - uses: actions/checkout@v4
      - name: Build
        run: swift build -c ${{ matrix.config }}
      - name: Run tests (debug only)
        if: ${{ matrix.config == 'debug' }}
        run: swift test
